body {
  background-image: url(soapwall.png);
  background-size: 100%;
  font-family: "Inter", sans-serif;
  color: rgb(255, 255, 255);
  padding-left: 40px;
  padding-right: 26px;
  font-weight: 800;
}
.paddingtxt {
  padding-top: 33px;
  z-index: 2;
}
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center; /* центрируем содержимое кнопки */
  cursor: pointer;
  z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  z-index: 3;
  position: absolute;
  width: 29px;
  height: 3px;
  border-radius: 4px;
  background-color: #ffffff;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}

/* контейнер меню */
.menu__box {
  z-index: 3;
  display: block;
  position: fixed;
  visibility: hidden;
  left: -100%;
  top: 0px;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: rgba(215, 227, 227, 0.95);
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}
/* элементы меню */
.menu__item {
  z-index: 0;
  display: block;
  padding: 12px 24px;
  color: rgb(0, 0, 0);
  font-family: "Inter средний", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
}
.menu__item:hover {
  background-color: rgba(215, 227, 227, 0.95);
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
.menu__box {
  transition-duration: 0.25s;
}
.menu__item {
  transition-duration: 0.25s;
}
